nav{
  height: 50px;
  width: 100%;
  background: #0099;
}
nav ul{
  height: 100%;
  width: 100%;
  list-style: none;
}
nav ul li{
float: left;
width:20%;
height: 100%;
background:#ffcc;
border:0 1px 0 rgba(194, 156, 156);

}